* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.portfolio {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

header {
    grid-column: 1 / 3;

    background-color: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

.about,
.skills,
.projects,
.contact {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.projects {
    grid-column: 1 / 2;
}

.contact {
    grid-column: 2 / 3;
}

footer {
    grid-column: 1 / 3;

    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.project-card {
    margin-top: 15px;
    padding: 15px;
    background-color: #eee;
    border-radius: 8px;
}