*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
}
.navbar{
    display: flex;
    background-color: #3d4d6a;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
}
.logo h1{
    font: 30px;
    color: #ffffff;
}
.navmenu{
    width: 70%;
    display: flex;
   gap: 0px;
   margin-left: 350px;
    /* align-items: center; */
}
.navmenu a,li{
    list-style-type: none;
    text-decoration: none;
}
.navmenu a{
    width: 92;
    height: 58;
    font-size: 15px;
    padding: 10px 15px;
}
div .btnin{
    background-color: #47b2f4;
    color: #ffffff;
    height: 30px;
    padding: 8px 25px;
    margin: 0px 0px 0px 30px;
    border-radius: 30px;
    border: none;
}

/* main  section*/
.main{
    background-color: #3d4d6a;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* gap: 30px; */
    height: 90vh;
}

.content {
    width: 55%;
    /* border: 2px solid white; */
    padding-left: 70px;
    padding-top: 60px;
    height: 60vh;
}
.content h1{
    font-size: 40px;
    margin: 20px;
    /* padding-left: 100px; */
}
.content p{
    color: rgba(255, 255, 255, 0.7);
    margin: 20px;
    /* padding-left: 100px; */
}
.img1{
    width: 40%;

}
.img1 img {
    width: 450px;
    height: 400px;
}

/* client section */

.clients{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    background-color: #f5f6f8;

}
.clients img{
    width: 100px;
    height: auto;
}

/* about section */
.aboutUs h1{
    padding-top: 20px;
    text-align: center;
    color: black;
}
.about-us-content{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 30px;
    align-items: center;
    
}
.left-content span{
     color: black;
    line-height: 25px;
    margin-left: 10px;
    
}
.left-content i{
    color: black;
    display: inline-block;
}
.right-content p,button{
    color: black;
}
.right-content p{
  line-height: 20px;

}
.right-content .btn-read-More{
    height: 50px;
    width: 150px;
    margin-top: 10px;
    color: #47b2e4;
    font-weight: bold;
    background-color: white;
   border: 2px solid #47b2e4;
   border-radius: 3px;
}
.right-content .btn-read-More:hover{
    background-color: #47b2e4;
    color: white;
}

/* Why us content */
.why-us{
    height: 400px;
    background-color: rgb(245, 246, 248);
    display: flex ;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.container-fluid{
    padding-left: 30px;
}
.image1{
    width: 500px;
    height: auto;
    padding-right: 50px;
}
.content1,.content2,.content3{
    background-color: white;
    margin: 10px;
    
}
.content1 h3{
    font-weight: 100;
}
.content2 h3{
    font-weight: 100;
}
.content3 h3{
    font-weight: 100;
}
.content1 span{
    color: #47b2f4;
}
.content2 span{
    color: #47b2f4;
}
.content3 span{
    color: #47b2f4;
}